body
{
    background: rgb(129, 119, 218);
    margin-left: 100px;
    margin-right: 200px;
}
h1{
    color: red;
    font-family: fantasy;
}

h2{
    font-family: fantasy;
}

p{
    font-size: 18px;
}
header{
    margin-top: 50px;
}
img{
    margin-bottom: 20px;
}